body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'gunplay';
  src: url("../fonts/gunplay_rg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'devil-breeze';
  src: url("../fonts/devil_breeze_medium.ttf");
  font-weight: normal;
  font-style: normal;
}

.main-title{
  font-family: 'devil-breeze';
}