.smooth{
	transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.mainpage {
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.bg-dim {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
    width: 100%;
}

.title span {
    color: white;
    text-shadow: 10px 0px 10px black;
}

.title1 {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 100px;
}

.title2 {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 100px;
}

.greeting {
    font-size: 3em;
    color: white;
    text-align: center;
    position: absolute;
    left: 20%;
    bottom: 20%;
}

.menu-box {
    position: absolute;
    right: 0;
    top: 10%;
    width: 40%;
    height: 90%;
}

.nav {
    position: absolute;
    margin: auto;
    top: 1%;
    right: 0;
    width: 40%;
    height: 8%;
}

.nav-button{
    margin: auto;
}

.user-detail{
    visibility: hidden;
    position: absolute;
    top: 5%;
    z-index: 5;
    width: 10em;
    height: 10em;
}

.user-detail:hover{
    visibility:visible;
}
/* .title:first-child {} */